.contacts{
    width: 320px;
    position: relative;
    height: 90%;
    .chats{
        ul{
            li:hover{
                background-color: #e2e8f0;
                transition: .3s;
            }
        }
    }
}